body {
	margin:0;
	font-family: 'Quicksand', sans-serif;
	background-color: #fff;
	text-transform: uppercase;
}

footer {
	background-color: #4ce;
}

.ekko-lightbox-container {
	text-align:center;
}
.img-fluid {
	height: 20em;
	width: auto !important;
	object-fit: contain;
}

.t-center {
	text-align: center;
}

.image-title, .image-title:hover {
	color: #f4a;
}

.connect-pos {
	right:0;
	position:absolute;
	z-index:1;
}
.boxy {
	background: #4ce;
	margin-right: 2vw;
	padding: 8px 16px;
}

.ml-15 {
	margin-left: 15px;
}

.connect-link {
	text-decoration: none;
	color: #fff!important;
	display: flex;
}

.v-align-text {
	margin: auto;
}

.cadena {
	width: 30px;
	height: auto;
}

.box {
	border: 1px solid #000;
	z-index: 2;
	color: #000;
	background-color: #fff;
	width: 80%;
	margin: auto;
	margin-bottom: 5em;
	text-align: justify;
}
.box-bigger {
	width: 90%;
}
.module {
	padding: 1em;
	width: 25%;
	text-align: center;
	color: #fff;
}
.module img {
	max-width: 100%;
	max-height: 200px;
}
.textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 10em;
}
.box h2, .box h1 {
	text-align: center;
}
.box div {
	margin: 1em;
}

.button-margin {
	margin: 1em;
	margin-left: 2em;
}

.cdl-picture {
	max-width: 100%;
    max-height: 100%;
    height: inherit !important;
}

nav {
	top: 0;
	position: sticky;
	height: 10%;
	background: #f4a;
	z-index: 999;
}
nav a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	text-align: center;
}
nav a:hover, nav a.actived {
	color: #000;
	text-decoration: underline!important;
}

.content {
	width: 100vw; /* or whatever is required */
	background-color: #fff;
	text-align: center; /* ensures the image is always in the h-middle */
	overflow: hidden; /* hide the cropped portion */
}

img.banniere_large {
	position: relative; /* allows repositioning */
	left: 100%; /* move the whole width of the image to the right */
	margin-left: -200%; /* magic! */
}
img.banniere_small {
	display: none;
}

.carousel-item {
	height: 80vh;
}
.carousel-picture {
	filter: none;
	width: 75%;
	margin: auto;
	margin-top: 5vh;
	height: 70vh;
	object-fit: contain;
}

.carousel-control-next, .carousel-control-prev {
	z-index: 1;
}


.carousel-control-prev-icon {
	background-color: #000;
	border-radius: 100%;
	z-index: 1;
}

.carousel-control-next-icon {
	background-color: #000; 
	border-radius: 100%;
}

.logo-contact {
	background-color: #f4a;
    border-radius: 100%;
    width: 6rem;
    height: auto;
    padding: 0.4em;
}

.logo-social {
	border-radius: 100%;
	width: 2.5rem;
	height: auto;
	margin: 2em 1em;
}
.logo-social.twitter {
    padding: 0.2em;
	background-color: #3ae;
}

.carousel .carousel-indicators {
	z-index: 1;
}

.carousel .carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;    
	background-color: #000;
}

.sub {
	font-size: 1em;
}

.back-img-event, .back-img-member, .back-img-presse{
	background-position: center;
	padding: 4.5em 0;
	background-repeat: no-repeat;
}

.back-img-event{
	background-image: url('/pictures/lien-evenement-image.png');
}
.back-img-member{
	background-image: url('/pictures/lien-membre-image.png');
}
.back-img-presse{
	background-image: url('/pictures/lien-presse-image.png');
}

.see-more-sec, .jc-center {
	justify-content: center;
}

.see-more-title {
	text-align: center;
	color: #fff;
}

.see-more {
	border: none;
	background-color: #f4a;
	color: #fff;
	text-transform: uppercase;
	padding: 0.5em 1em;
}

.see-more-container {
	margin: 1rem;
    text-align: center;
}

.p-art {
	padding: 3rem 0;
}

.ta-justify {
	text-align: justify;
}

.ta-center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.mb-2rem {
	margin-bottom: 2rem;
}

.marg-head {
	margin-top: 2em;
}

.marg-bloc {
	margin: 1em 0;
}

.marg-bloc-extra {
	margin: 2em 0;
}

.grey-bg{
	background-color: #ebebeb;
}

.article-container {
	background-color: #ebebeb;
	justify-content: center;
}
.article-picture {
	/* If needed */
}
.article-title {
	text-transform: uppercase;
}
.article-content {
	font-weight: bold;
}

.titlecard {
	background-color: #f4a;
	/* 
	margin: ;
	padding: ;
	left:0;
	*/
}
.titlecard .title {
	color: #fff;
}

.w-90 {
	width: 90%;
}

.section-title, .section-title-alt, .section-center-title, .article-title {
	font-size: 5rem;
}

.section-title, .section-center-title, .article-title, .contact-element,.form-title {
	color: #f4a;
}
.section-title-alt {
	color: #4ce!important;
}
.section-center-title, .footer-button {
	text-align: center;
}

.parrains-box {
	background-color: #fff;	
}

.footer-text, .footer-link,.footer-link:hover {
	color: #fff;
}

.footer-text{
	font-weight: bold;
}

.footer-link,.footer-link:hover {
	text-decoration: none;
}

.footer-link.sub{
	margin-left: 30px;
}

.footer-button {
	margin-top: 1em;
    padding: 10px;
}

.no-upper {
	text-transform: none;
}

.btn-outline {
	color: #000;
	border-color: #677;
}

.cdl-title-v2 {
	margin-top: 2em;
	width: 45%;
	background-color: #f4a;
}
.cdl-title-v2 h1, .cdl-title-v2 h2 {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	color: #fff;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.cdl-center-title-v2 {
	margin-top: 2em;
	width: 100%;
}
.cdl-center-title-v2 h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #f4a
}

h2.cdl-title {
	margin-left: 2rem; 
}

.text-article {
	margin-left: 3rem;
	overflow-wrap: break-word;
}
.wrap {
	overflow-wrap: break-word;
}

.no-marg {
	margin:0!important;
}

.extra-marg {
	margin-left: 4rem;
	margin-bottom: 1rem;
}

.bonus-marg {
	margin-right: 3rem;
}

.cdl-title, h2.cdl-article-title, .box h2, .box h3{
	font-size: 2rem;
	font-weight: bold;
	color: #f4a;
}

h3.cdl-title {
	text-transform: uppercase;
	font-size: 1.5rem;
}

.ekko-lightbox-nav-overlay a {
	opacity: 1!important;
	color: #fff9;
    	background: #0005;
    	height: 5em;
	width: 5em;
}

.ekko-lightbox-nav-overlay a:hover {
	color: #fff;
}


.spec-sup {
	text-align: center;
    margin: 2rem;
}

/* Mettre ici différente classe :
1 titre en blanc sur une box rose qui à un espacement au début
1 titre en rose sans fond et qui à le même espacement et taille
1 titre en bleu sans fond et qui à le même espacement et taille
1 titre en rose avec la même taille que les deux autres mais centrer

Une "ligne"/"box" grise avec marge au dessus et en dessous (pas couvert par gris) contenant une image sur la gauche et un titre rose centrer + un texte en gras

1 bouton fond rose, rectangulaire et avec texte blanc et en majuscule

1 pied de page bleu -> 1 liste écrit en blanc sur la gauche puis sur toutes la longueur en petit écrant*/


.show-medium {
	display: none;
}


.collapse {
	display: none!important;
}

@media screen and (max-width:1190px) {
	.cdl-title-v2 {
		width: 70%;
	}
	.show-medium {
		display: block;
		background: none;
		border: none;
		width: 100%;
		color: #fff;
		text-decoration: none;
		font-size: 1.5em;
	}
	.menu-medium{
		display: contents!important;
	}
	.collapse-medium {
		display: none!important;
	}
	.module {
		width: 50%;
	}

	.col-md-nav-12 {
		flex: 0 0 100%!important;
		max-width: 100%!important;
	}
}

@media screen and (max-width:600px) {
	.cdl-title-v2{
		width: 100%;
	}
	.module{
		width: 100%;
	}
	img.banniere_large {
		display: none;
	}
	img.banniere_small {
		display: unset;
		position: relative; /* allows repositioning */
		left: 100%; /* move the whole width of the image to the right */
		margin-left: -200%; /* magic! */
	}
}

@media screen and (max-width: 60em) {
	.img_responsive_size_change {
		flex:0!important;
		max-width:100%;
		min-width:100;
	} 
}
